

<div class="nav-container form-control w-75 m-auto bg-transparent shadow-lg  p-3 position-absolute">

  <nav class="navbar navbar-expand-sm ">
    <div class="container text-center">
      <a class="navbar-brand" href="#"><span class="fw-bold">Gallery </span>  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

          <li class="nav-item ">
            <a class="nav-link active " aria-current="page" routerLink="/home">
             <div class="nav-i-style text-center p-0 m-0"><i class="fa-solid fa-house fa-2x"></i>  </div> 
              <span class=" p-0 m-0">Home </span>
              
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/products">
              <div class="nav-i-style text-center p-0 m-0"> <i class="fa-brands fa-shopify"></i></div>
              <span class=" p-0 m-0">products </span> </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/Categories">
              <div class="nav-i-style text-center p-0 m-0"> <i class="fa-solid fa-table-list"></i> </div>
              <span class=" p-0 m-0">Categories</span> </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link  disabled" routerLink="/cart">
              <div class="nav-i-style text-center p-0 m-0"> <i class="fa-solid fa-cart-plus"></i></div>
              <span class=" p-0 m-0"> cart</span></a>
          </li>
        
  
        
        </ul>
      </div>
    </div>
  </nav>


</div>