section {
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #fafafa;
}

.search-product {
    width: 100%;
    background-color: transparent;
}
.search-product input {
    background-color: transparent;
    border: none;
}
.search-product input:focus{
  background-color: rgba(0, 0, 0, 0.2);
  color: aliceblue;
}