.owr-container{
    position: absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%);
}


/* --------------------- */
@media screen and (max-width: 550px) {

    .owr-container{
        top: 60%;
    }
 
   
} 